In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv('kiwo.csv')
df2 = pd.read_csv('umsatzdaten_gekuerzt.csv')
df3 = pd.read_csv('wetter.csv')

merged_df = pd.concat([df1, df2, df3], ignore_index=True)

merged_df.to_csv('merged_data.csv', index=False)

In [5]:
merged_df = pd.read_csv('merged_data.csv')

print(merged_df.head())
print(merged_df.info())
print(merged_df.sample(n=10))

print(merged_df.isnull().sum())

        Datum  KielerWoche  Warengruppe  Umsatz  Bewoelkung  Temperatur  \
0  2012-06-16          1.0          NaN     NaN         NaN         NaN
1  2012-06-17          1.0          NaN     NaN         NaN         NaN
2  2012-06-18          1.0          NaN     NaN         NaN         NaN
3  2012-06-19          1.0          NaN     NaN         NaN         NaN
4  2012-06-20          1.0          NaN     NaN         NaN         NaN

   Windgeschwindigkeit  Wettercode
0                  NaN         NaN
1                  NaN         NaN
2                  NaN         NaN
3                  NaN         NaN
4                  NaN         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12007 entries, 0 to 12006
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Datum                12007 non-null  object
 1   KielerWoche          72 non-null     float64
 2   Warengruppe          9334 non-null   float64
 3   Umsatz               9334 non-null   float64
 4   Bewoelkung           2591 non-null   float64
 5   Temperatur           2601 non-null   float64
 6   Windgeschwindigkeit  2601 non-null   float64
 7   Wettercode           1932 non-null   float64
dtypes: float64(7), object(1)
memory usage: 750.6+ KB
None
            Datum  KielerWoche  Warengruppe      Umsatz  Bewoelkung  \
5825   2014-05-19          NaN          4.0   83.968182         NaN
5259   2017-10-28          NaN          3.0  168.991640         NaN
4306   2015-03-01          NaN          3.0  174.178021         NaN
10580  2015-08-20          NaN          NaN         NaN         1.0
4999   2017-02-06          NaN          3.0   91.362268         NaN
888    2015-10-09          NaN          1.0  149.251608         NaN
378    2014-05-11          NaN          1.0   61.006582         NaN
3946   2014-02-26          NaN          3.0  128.531265         NaN
10029  2014-02-15          NaN          NaN         NaN         5.0
5637   2013-10-25          NaN          4.0   70.053237         NaN

       Temperatur  Windgeschwindigkeit  Wettercode
5825          NaN                  NaN         NaN
5259          NaN                  NaN         NaN
4306          NaN                  NaN         NaN
10580      20.375                  8.0        10.0
4999          NaN                  NaN         NaN
888           NaN                  NaN         NaN
378           NaN                  NaN         NaN
3946          NaN                  NaN         NaN
10029      11.500                 15.0         NaN
5637          NaN                  NaN         NaN
Datum                      0
KielerWoche            11935
Warengruppe             2673
Umsatz                  2673
Bewoelkung              9416
Temperatur              9406
Windgeschwindigkeit     9406
Wettercode             10075
dtype: int64